{{- if .Values.scheduler.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gthulhu.fullname" . }}-scheduler-config
  labels:
    {{- include "gthulhu.labels" . | nindent 4 }}
    app.kubernetes.io/component: scheduler
data:
  jwt_public_key.pem: |
    -----BEGIN PUBLIC KEY-----
    MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAny28YMC2/+yYj3T29lz6
    0uryNz8gNVrqD7lTJuHQ3DMTE6ADqnERy8VgHve0tWzhJc5ZBZ1Hduvj+z/kNqbc
    U81YGhmfOrQ3iFNYBlSAseIHdAw39HGyC6OKzTXI4HRpc8CwcF6hKExkyWlkALr5
    i+IQDfimvarjjZ6Nm368L0Rthv3KOkI5CqRZ6bsVwwBug7GcdkvFs3LiRSKlMBpH
    2tCkZ5ZZE8VyuK7VnlwV7n6EHzN5BqaHq8HVLw2KzvibSi+/5wIZV2Yx33tViLbh
    OsZqLt6qQCGGgKzNX4TGwRLGAiVV1NCpgQhimZ4YP2thqSsqbaISOuvFlYq+QGP1
    bcvcHB7UhT1ZnHSDYcbT2qiD3VoqytXVKLB1X5XCD99YLSP9B32f1lvZD4MhDtE4
    IhAuqn15MGB5ct4yj/uMldFScs9KhqnWcwS4K6Qx3IfdB+ZxT5hEOWJLEcGqe/CS
    XITNG7oS9mrSAJJvHSLz++4R/Sh1MnT2YWjyDk6qeeqAwut0w5iDKWt7qsGEcHFP
    IVVlos+xLfrPDtgHQk8upjslUcMyMDTf21Y3RdJ3k1gTR9KHEwzKeiNlLjen9ekF
    WupF8jik1aYRWL6h54ZyGxwKEyMYi9o18G2pXPzvVaPYtU+TGXdO4QwiES72TNCD
    bNaGj75Gj0sN+LfjjQ4A898CAwEAAQ==
    -----END PUBLIC KEY-----

  config.yaml: |
    # Gthulhu Scheduler Configuration
    # This configuration file allows you to adjust scheduler parameters before eBPF program loading
    scheduler:
      # Default time slice in nanoseconds (default: 5000000 = 5ms)
      slice_ns_default: 5000000
      
      # Minimum time slice in nanoseconds (default: 500000 = 0.5ms)
      slice_ns_min: 500000
    api:
      enabled: true
      auth_enabled: true
      url: http://localhost:{{ .Values.scheduler.sidecar.port }}
      interval: 5
      public_key_path: /etc/gthulhu/jwt_public_key.pem
    debug: true
    early_processing: false
    builtin_idle: false
{{- end }}
